<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--核心配置文件-->
<mapper namespace="com.esb.dao.BookMapper">
    <insert id="addbook" parameterType="books">
        insert into wechat.books ( bookName, bookCounts, detail)
        values (#{bookName},#{bookCounts},#{detail})
    </insert>

    <delete id="deletebook" parameterType="int">
        delete from wechat.books where bookID = #{bookid}
    </delete>

    <update id="updatebook" parameterType="books">
        update wechat.books set bookName = #{bookName},
        bookCounts = #{bookCounts},detail =#{detail}
        where bookId = #{bookID}
    </update>
    <select id="querybookByID" parameterType="int" resultType="books">
        select * from wechat.books where bookID = #{bookid}
    </select>
    <select id="querybookByName" parameterType="string" resultType="books">
        select * from wechat.books where bookname = #{bookName}
    </select>
    <select id="queryAllbook"  resultType="books">
        select * from wechat.books
    </select>
</mapper>